{% extends "layout.html" %}
{% import "_helpers.html" as h %}
{% set active_page = "account.home" %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="w-11/12 p-12 px-6 py-10 rounded-lg sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-3/12 sm:px-10 sm:py-6">
    {{ h.alert('mb-10') }}
    <h2 class="font-semibold text-4xl mb-4">Account</h2>
    <p class="font-medium mb-10">
        Hi {{ profile.display_name or session.user.email }}, you can update your email or password from here
    </p>

    <ul class="divide-y-2 divide-gray-200">
        <li class="flex justify-between hover:bg-blue-600 hover:text-blue-200">
            <a class="block w-full p-3" href="/account/update">Update</a>
        </li>
        <li class="flex justify-between hover:bg-blue-600 hover:text-blue-200">
            <a class="block w-full p-3" href="/account/update-email">Update email</a>
        </li>
        <li class="flex justify-between hover:bg-blue-600 hover:text-blue-200">
            <a class="block w-full p-3" href="/account/update-password">Update password</a>
        </li>
    </ul>
    <div class="flex flex-col justify-between border border-red-300 rounded-md p-4 mt-10">
        <p class="mb-4">Deleting an account is an irreversible action that permanently erases all associated data and cannot be undone.</p>
        <form action="{{ url_for('account.delete_account') }}" method="post" class="w-full">
            <button class="block w-full bg-red-700 text-white hover:bg-red-600 hover:text-gray-200 p-3">Delete Account</button>
        </form>
    </div>
</div>
{% endblock %}
