{% extends "layout.html" %}
{% from "_helpers.html" import alert, form_error, breadcrumbs %}
{% set active_page = "account.home" %}

{% block title %}Update Email{% endblock %}

{% block content %}
<div
	class="w-11/12 p-12 px-6 py-10 lg:w-full 2xl:w-5/12 sm:px-10 sm:py-6"
>
  {{ breadcrumbs('Account', 'account.home', 'Update Email') }}
	<h2 class="font-semibold text-2xl mb-4">Update Email</h2>
	<p class="font-medium mb-4">
		Hi {{ profile.display_name or user.email }}, update your new email below and confirm it
	</p>
	
  {{ alert('mb-10') }}
	<form action="{{ url_for('account.update_email') }}" method="post">
		{{ form.csrf_token }}
		<div class="form-control">
			{{ form.email.label(class="label") }}
      {{ form.email(class="input input-bordered") }}
		</div>
		{{ form_error(form.email) }}

		<div class="form-control">
			{{ form.email_confirm.label(class="label") }}
			{{ form.email_confirm(class="input input-bordered") }}
		</div>
		{{ form_error(form.email_confirm) }}

		<div class="form-control mt-6">
			<button class="btn btn-primary normal-case no-animation">Update Email</button>
		</div>
	</form>
</div>
{% endblock %}
