{% extends "layout.html" %}
{% from "_helpers.html" import alert, form_error, breadcrumbs %}
{% set active_page = "notes.home" %}

{% block title %}Edit Note{% endblock %}

{% block content %}
<div class="w-11/12 p-12 px-6 py-10 rounded-lg sm:w-8/12 md:w-6/12 lg:w-full 2xl:w-3/12 sm:px-10 sm:py-6">
  {{ breadcrumbs('Notes', 'notes.home', 'Edit Note') }}
  <div class="flex">
      <div class="flex-auto">
          <h2 class="font-semibold text-2xl mb-4">Edit Note</h2>
      </div>
  </div>

  {{ alert('mb-10') }}
  <form class="flex flex-row gap-2" action="{{ url_for('notes.edit', note_id=note.id) }}" method="post" enctype="multipart/form-data">
		{{ form.csrf_token }}
		<div class="mb-4 mr-4 w-8/12 gap-4">
			<div class="col-span-6 sm:col-span-3">
				<div class="form-control">
					{{ form.title.label(class="label") }}
					{{ form.title(class="border-b border-gray-200 p-4") }}
				</div>
				{{ form_error(form.title) }}
			</div>
      <div class="form-control">
        {{ form.content.label(class="label") }}
        <div class="markdown-editor-wrapper">
          {{ form.content(class="border-b border-gray-200 min-h-96 w-full") }}
        </div>
      </div>
      {{ form_error(form.content) }}
		</div>

    <div class="w-64 space-y-2">
      <div class="form-control mt-10">
        <button class="btn btn-primary normal-case no-animation">Update</button>
      </div>
      <div class="my-4 flex flex-col">
        {% if preview_image %}
        <div class="flex justify-center p-4 bg-gray-100">
          <img src="{{ preview_image | safe }}" width="200" />
        </div>
        {% endif %}
        <div class="flex-auto">
          <div class="form-control">
            {{ form.featured_image.label(class="label") }}
            {{ form.featured_image(class="file-input w-full max-w-xs no-animation") }}
          </div>
          {{ form_error(form.featured_image) }}
        </div>
      </div>
      <div class="form-control flex-row justify-start">
        <label class="label cursor-pointer">
          <span class="label-text mr-6">{{ form.is_public.label }}</span>
          {{ form.is_public(class="checkbox checkbox-lg") }}
        </label>
      </div>
      {{ form_error(form.is_public) }}
    </div>
	</form>
</div>
{% endblock %}
