{% extends "layout.html" %}
{% import "_helpers.html" as h %}
{% set active_page = "notes.home" %}

{% block title %}Notes{% endblock %}

{% block content %}
<div class="w-11/12 p-12 px-6 py-10 rounded-lg lg:w-full sm:px-10 sm:py-6">
    <div class="flex">
        <div class="flex-auto">
            <h2 class="font-semibold text-2xl mb-4">Notes</h2>
            <p class="font-medium mb-10">
                Hi {{ profile.display_name or user.email }}, you can add, edit and delete notes from here
            </p>
        </div>
        <div class="flex-none">
            <a class="btn btn-primary no-animation" href="{{ url_for('notes.new') }}">Add note</a>
        </div>
    </div>

    {{ h.alert('mb-10') }}
    <ul class="bg-white overflow-hidden sm:rounded-md mx-auto space-y-4">
        {% for note in notes %}
        <li class="border border-gray-200 rounded">
          <div class="flex gap-2 items-center justify-between">
            <a href="{{ url_for('notes.edit', note_id=note.id) }}" class="grow font-medium text-gray-600 hover:text-gray-500 px-4 py-3 sm:px-6">
              <h3 class="text-base leading-6 font-semibold">{{ note.title }}</h3>
              <p class="mt-0 max-w-2xl text-xs text-gray-500">{{ note.content | truncate(60) }}</p>
            </a>
            <div class="mt-4 flex items-center justify-between">
              {% if not note.is_public %}
                <p class="text-sm font-medium text-green-600">Private</p>
              {% endif %}
              <a href="{{ url_for('notes.edit', note_id=note.id) }}" class="font-medium text-indigo-600 hover:text-indigo-500 px-4 py-3 sm:px-6">Delete</a>
            </div>
          </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
