{% extends "base_layout.html" %}

{% block body %}
  <main data-theme="winter">
    <div class="flex flex-col h-screen">
      <div class="navbar border-b border-gray-300 px-4">
        <div class="flex-1">
          <h1 class="font-semibold">
            <a href="/">Supabase Flask Demo</a>
          </h1>
        </div>
        <div class="flex-none space-x-10">
          <a class="btn btn-outline no-animation" href="/account">Account</a>
          <form action="/auth/signout" method="post" use:enhance>
            <button class="btn btn-ghost no-animation">Sign out</button>
          </form>
        </div>
      </div>
      <div class="grid place-items-center my-20 mx-2">
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
{% endblock %}