{% extends "auth/layout.html" %}
{% import "_helpers.html" as h %}

{% block title %}Sign in{% endblock %}

{% block content %}
  <div class="w-11/12 p-12 px-6 py-10 rounded-lg sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-3/12 sm:px-10 sm:py-6">
    {{ h.alert('mb-10') }}
    <h2 class="font-semibold text-4xl mb-4">Sign in</h2>
    <p class="font-medium mb-4">Hi, Welcome back</p>
    <form action="{{ url_for('auth.signin', next=next) }}" method="post">
      {% include 'auth/_form_partial.html' %}
      
      <div class="form-control flex-row justify-end pt-4">
        <a class="block py-2 text-blue-500" href="{{ url_for('auth.forgot_password') }}">Forgot Password?</a>
      </div>
      <div class="form-control mt-6">
        <button class="btn btn-primary no-animation">Sign in</button>
      </div>
    </form>

    <div class="pt-4 text-center">
      Not registered yet? <a href="{{ url_for('auth.signup') }}" class="underline text-blue-500">Create an account</a>
    </div>
  </div>
{% endblock %}
