{% extends "auth/layout.html" %}
{% from "_helpers.html" import alert, form_error %}

{% block title %}Sign in{% endblock %}

{% block content %}
  <div class="w-11/12 p-12 px-6 py-10 rounded-lg sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-3/12 sm:px-10 sm:py-6">
    {{ alert('mb-10') }}
    <h2 class="font-semibold text-4xl mb-4">Sign in with token</h2>
    <p class="font-medium mb-4">Hi, Welcome back</p>
    <form action="{{ url_for('auth.verify_token', next=next, type=auth_type) }}" method="post">
      {{ form.csrf_token }}
      <div class="form-control">
          {{ form.email.label(class="label") }}
          {{ form.email(class="input input-bordered") }}
      </div>
      {{ form_error(form.email) }}

      <div class="form-control">
          {{ form.token.label(class="label") }}
          {{ form.token(class="input input-bordered") }}
      </div>
      {{ form_error(form.token) }}
      
      <div class="form-control mt-6">
        <button class="btn btn-primary no-animation">Sign in</button>
      </div>
    </form>

    <div class="pt-4 text-center">
      Not registered yet? <a href="{{ url_for('auth.signup') }}" class="underline text-blue-500">Create an account</a> <br/>
      or Already have an account? <a href="{{ url_for('auth.signin') }}" class="underline text-blue-500">Sign In</a>
    </div>
  </div>
{% endblock %}
